.btn {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.4rem 4rem;
  border-radius: 10rem;
  transition: all 200ms;
  position: relative;
  border: none;
  cursor: pointer;
  color: white;
  background-color: black;
  border: 0.2rem solid black;
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0 3rem rgba(255, 255, 255, 0.4);
    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }
    &:active,
    &:focus {
      outline: none;
     transform: translateY(-0.1rem);
     box-shadow: 0 0 1rem rgba(255, 255, 255, 0.4);
  }
    &::after {
     content: '';
     display: inline-block;
     height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 400ms;
      background-color: black;
      color: white;
  }
}



