.layout {
  composes: myJam from '../../utils/colorThem.module.scss';
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, var(--darkTheme) 20%, var(--lightTheme) 80%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 7rem 12rem auto;
  justify-items: center;
}

.title {
  font-size: 5rem;
  grid-column: span 2;
}

.searchBar {
  grid-column: span 2;
  margin: 1rem 0;
}

.results {
  justify-self: center;
  width: 100%;
  margin: 2rem 0;
  & h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 4.2rem;
  }
}