.link {
  background-color: transparent;
  padding: .5rem;
  border-radius: .5rem;
  transition: all 200ms;
  display: inline-block;
    
  &:hover {
    box-shadow: 0 0 4rem rgba(255, 255, 255, 0.5);
    transform: translateY(-0.3rem);
  }
    
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0 3rem rgba(255, 255, 255, 0.3);
  }
}