.default {
  --darkTheme: #282828;
  --mainTheme: rgb(128, 128, 128);
  --lightTheme: #c8c8c8;
}

.myJam {
  --darkTheme: #321E6C;
  --mainTheme: #6C41EC;
  --lightTheme: #A38AEF;
}

.aboutMe {
  --darkTheme: #0A206C;
  --mainTheme: #1645EC;
  --lightTheme: #5E7EEF;
}