.navWrap {
  width: 20%;
  height: 100vh;
  font-size: 2rem;
  color: white;
  border-right: .3rem solid white;
  background-image: url('../../assets/images/connectwork.png');
  position: fixed;
  transition: all 300ms linear;
  background-repeat: repeat;
  padding: 1% 0;
  text-align: center;
}

.navVisible {
  composes: navWrap;
  width: 20%;
}

.navHidden {
  composes: navWrap;
  width: 0;
}

.navBar {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.author {
  align-self: start;
  margin: 1rem;
  font-weight: bold;
}

.navigation {
  align-self: center;
  line-height: 1.4;
}

.link {
  font-size: 2.5rem;
  &:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, .5);
  }
  & a {
    text-decoration: none;
    color: white;
  }
}



.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.toggle {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 100%;
  height: 14rem;
  width: 3.5rem;
  background-color: #282828;
  border: .3rem solid white;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transition: all 500ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}